<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <welcome-file-list>
        <welcome-file>welcome</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>viewReviewServlet</servlet-name>
        <servlet-class>ui.ViewReviewServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>viewReviewServlet</servlet-name>
        <url-pattern>/viewReviews</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>welcomeServlet</servlet-name>
        <servlet-class>ui.WelcomeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>welcomeServlet</servlet-name>
        <url-pattern>/welcome</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SportsGenreServlet</servlet-name>
        <servlet-class>ui.SportsGenreServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SportsGenreServlet</servlet-name>
        <url-pattern>/sports</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PCServlet</servlet-name>
        <servlet-class>ui.PCServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PCServlet</servlet-name>
        <url-pattern>/pc</url-pattern>
    </servlet-mapping>

</web-app>